/* index.html's styles */

.intro-info-section{
    width: 100%;
    height: 700px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    background: radial-gradient(circle farthest-corner at 200px 0, #41464d, #202226);
    background-position: top left;
}

.intro-info-section > .left-side-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 42px;
}

.intro-info-section > .left-side-wrapper > .text-wrapper {
    color: white;
    width: 650px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 50px 0 45px;
}

.intro-info-section > .left-side-wrapper > .text-wrapper > .upper-text {
    font-size: 3rem;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

.intro-info-section > .left-side-wrapper > .text-wrapper > .lower-text{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0.5rem 0;
    margin: 50px 0 45px;
}


.intro-info-section > .right-side-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 25px;
}

.intro-info-section > .right-side-wrapper > .codepen-projects > .explore-link {
    text-align: start;
    position: relative;
    right: 386px;
    padding: 20px 0px 15px 0px;
    font-size: 1.2em;
}

.intro-info-section > .right-side-wrapper > .codepen-projects > .explore-link a {
    color: aqua;
    text-decoration: none;
    transition: 0.2s;
}

.intro-info-section > .right-side-wrapper > .codepen-projects > .explore-link a:hover {
    color:red;
}

.intro-info-section > .right-side-wrapper > .image-wrapper > #codepen-image {
    width: 600px;
    height: auto;
}