/* Media queries so the website is responsive */
@media (max-width: 1200px) {
    .navigation-wrapper {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 10px;
    }

    .navigation-wrapper > .logo {
        flex-direction: column;
        align-items: center;
    }

    .navigation-wrapper > .menu-wrapper {
        width: 75%;
        flex-direction: column;
    }
    .navigation-wrapper > .menu-wrapper > .explore-link-wrapper {
        width: 100%;
		text-align: center;
		margin-bottom: 15px;
    }

    .navigation-wrapper > .menu-wrapper > .explore-link-wrapper > .explore {
        margin-bottom: 10px;
    }

    .navigation-wrapper > .menu-wrapper > .explore-link-wrapper > .links-wrapper {
        justify-content: space-around;
    }

    .navigation-wrapper > .login-wrapper {
        width: 100%;
		justify-content: center;
    }

    .intro-info-section {
        height: 100%;
		flex-direction: column;
    }

    .intro-info-section > .left-side-wrapper {
        width: 80%;
		margin: 0 0 50px;
    }

    .intro-info-section > .left-side-wrapper > .text-wrapper > .lower-text {
		width: 100%;
	}

    .footer-wrapper {
        width: 100%;
		grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .navigation-wrapper {
        width: 100%;
    }

    .navigation-wrapper > .logo {
        width: 50%;
    }

    .intro-info-section > .left-side-wrapper {
        align-items: center;
    }

    .intro-info-section > .left-side-wrapper > .text-wrapper{
        font-size: 0.8em;
    }

    .intro-info-section > .left-side-wrapper > .text-wrapper > .upper-text {
        width: 100%;
		text-align: center;
        font-size: 2.6em;
    }

    .intro-info-section > .left-side-wrapper > .text-wrapper > .lower-text {
        width: 100%;
		text-align: center;
        font-size: 2.2em;
    }

    .intro-info-section > .left-side-wrapper > .sign-up-wrapper {
        font-size: 0.7em;
    }

    .intro-info-section > .right-side-wrapper > .image-wrapper img {
        width: 400px;
    }

    .footer-wrapper{
        grid-template-columns: 1fr;
    }
}